@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: #f8fafe;
}

/* Сontainer */
.containes {
    margin: 0 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .containes {
        margin: 0 15px;
    }
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .container {
        max-width: 1024px;
    }
}

/* breadcrumbs__link */
.breadcrumbs__link {
    cursor: pointer;
    color: #018ad2;
    /* Цвет обычной ссылки */
    text-decoration: none;
    /* Убираем подчёркивание у ссылок */
}

#radio .breadcrumbs__link:active {
    color: #A93A09;
}

.breadcrumbs__link:hover {
    color: #f36223;
}

/* Product */
.product__color {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    background: #ffffff;
    border-radius: 4px;
    gap: 10px;
    margin-bottom: 30px;
}

.product__color:active {
    border: 2px solid #A93A09;
}

.product__image {
    display: inline-block;
    height: 60px;
}

.product__color:hover {
    background-color: #e7e7e7;
}

.product__color_btn-selected {
    border: 2px solid #ff5722;
}

/* Utilities */
.orange {
    color: #ff5722;
}

.gray {
    margin-left: 10px;
    color: #888888;
}

.gray-1 {
    color: #888888;
}

/* Blocks */
.header {
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: #f8fafe;
}

.market-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #010541;
}

.market-line {
    display: flex;
}

.line {
    margin-left: 10px;
    line-height: 53.25px;
    font-size: 44px;
}

.line-login {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: 700;
}

.logo {
    padding-bottom: 13px;
}

.icons {
    display: flex;
    height: 100%;
    max-width: 100px;
    position: relative;
}

/* Nav */
.breadcrumbs {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Rating */
.rating__img {
    height: 30px;
    width: 30px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .rating__img {
        height: 20px;
        width: 20px;
    }
}

/* Product */
.product__name {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.product__photos {
    margin-bottom: 30px;
}

.product__photo {
    height: 387px;
    width: auto;
}

@media (max-width: 1499px) {
    .product__photo {
        height: 272px;
    }
}

.product__body {
    width: 1400px;
    margin: auto;
    display: flex;
    gap: 100px;
}

@media (max-width: 1500px) {
    .product__body {
        width: 100%;
        gap: 7%;
    }
}

@media (max-width: 1024px) {
    .product__body {
        width: 994px;
        gap: 40px;
    }
}

.product__main {
    width: 880px;
}

@media (max-width: 1500px) {
    .product__main {
        width: 63%;
    }
}

@media (max-width: 1024px) {
    .product__main {
        width: 594px;
    }
}

.product__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.product__pictures {
    display: flex;
    gap: 10px;
}

.product__memory-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

button {
    border: #a1a1a1 solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    background: none;
    font-size: 16px;
}

@media (max-width: 1499px) {
    .product__comparison {
        display: none;
    }
}

.product__sidebar {
    display: flex;
    flex-direction: column;
    width: 420px;
}

@media (max-width: 1500px) {
    .product__sidebar {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .product__sidebar {
        width: 360px;
    }
}

.product__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    height: auto;
}

.product__property {
    margin-bottom: 30px;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #f36223;
}

li::before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: -7px;
    line-height: 1px;
}

.product__characteristics li {
    margin-bottom: 10px;
    list-style: none;
}

#radio:active {
    color: #A93A09;
}

#ten .link:active {
    color: #A93A09;
}

#ten .footer__list:active {
    color: #A93A09;
}

.product__description {
    margin-bottom: 30px;
}

.product__description p {
    margin-top: 15px;
}

/* Reviews */
.reviews__button {
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.reviews__box-wrapped {
    display: flex;
    gap: 10px;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.reviews__info {
    margin-bottom: 30px;
}

.reviews__item {
    display: flex;
    gap: 30px;
}


/* Review */
.review__comment-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__comment-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.review__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 10px;
}

.review__details p {
    margin: 0;
}

.review__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .review__photo {
        width: 100px;
        height: 100px;
    }
}


.review__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.reviews__separator {
    width: 730px;
    border-bottom: 1px dashed #888888;
    margin-left: 170px;
    box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .reviews__separator {
        width: 465px;
        margin-left: 130px;
    }
}

/* Price */
.price {
    padding: 20px;
}

.price__group {
    display: flex;
    flex-direction: column;
}

.price__main {
    text-decoration: line-through;
    color: #a1a1a1;
}

.price__percent-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 50px;
    height: 25px;
    border-radius: 500px;
    background-color: #f36223;
    margin-left: 10px;
}

.btn-like {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
}

.btn-like__iocn {
    fill: #888888;
}

.btn-like:hover>.btn-like__iocn {
    fill: #f36223;
}

.btn-like:active>.btn-like__iocn {
    fill: #A93A09;
}

.price__percent {
    color: white;
    text-decoration: none;
    font-size: 18px;
    flex: 0 0 15px;
}

.price__discount {
    display: flex;
    justify-content: flex-start;
}


.price__sum {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.price__comment {
    margin-top: 15px;
    margin-bottom: 35px;
}

.price__comment p:not(:last-of-type) {
    margin-bottom: 10px;
}

.product__button {
    border: 1px solid #888888;
    border-radius: 4px;
    background: #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;
}

.product__button:active {
    border: 2px solid #A93A09;
}

.product__button:hover {
    background: #e7e7e7;
}

.product__button_selected {
    border: 2px solid #ff5722;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f36223;
    color: white;
    border: none;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 20px;
    line-height: 24px;
    width: 380px;
    height: 64px;
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .btn {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .btn {
        width: 320px;
    }
}

.btn_main:hover {
    background: #da4a0c;
}

#send:active {
    background: #A93A09;
}

#add:active {
    background: #A93A09;
}

#wiki:active {
    color: #A93A09;
}

.separator {
    width: 880px;
    height: 1px;
}

.advertisement p{
    color: #888888;
}

.ads {
    border: 1px dashed #ccc;
    height: 300px;
    width: 100%;
}

.advertisement__iframes {
    margin-top: 10px;
}

.advertisement__iframes iframe {
    margin-bottom: 15px;
}

.model-comparison {
    width: 876px;
    height: 190px;
    border: 1px solid #888888;
    margin-top: 20px;
    margin-bottom: 60px;
}

.model-comparison__head th {
    text-align: center;
    border: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__body tr td {
    text-align: center;
    border-right: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__head,
.model-comparison {
    border-collapse: collapse;
}

.model-comparison__body tr:hover {
    background: #f2f2f2;
}

/* Reviews form */
.form {
    padding: 0px 0px 0px 170px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .form {
        padding: 0;
    }
}

.reviews-form__wishes {
    display: flex;
}

.reviews-form__fieldset1 {
    display: flex;
    flex-direction: column;
    width: 68%;
    box-sizing: border-box;
}

.reviews-form__fieldset2 {
    width: 5%;
    box-sizing: border-box;
}

.reviews-form__fieldset3 {
    display: flex;
    flex-direction: column;
    width: 27%;
    box-sizing: border-box;
}

/* Hovers */
.form-hover-focus:hover {
    border: 1px solid #f36223;
}

.form-hover-focus:focus {
    outline: 1px solid #f36223;
}

.reviews-form__submit {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    width: 177px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.reviews-form__submit:hover {
    background: #DA4A0C;
}

/* Footer */
.footer {
    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 60px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .footer {
        margin-top: 100px;
        padding: 30px 15px;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__list {
    color: #018ad2;
    text-decoration: none;
}

.footer__list:hover {
    color: #f36223;
}

/* Feedback */
.form {
    border: none;
    border: none;
    display: flex;
    flex-direction: column;
}

.form__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
    padding: 0;
}

.form__content {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
}

.form__fieldset1 {
    display: flex;
    flex-direction: column;
    width: 68%;
    box-sizing: border-box;
}

.form__fieldset2 {
    width: 5%;
    box-sizing: border-box;
}

.form__fieldset3 {
    display: flex;
    flex-direction: column;
    width: 27%;
    box-sizing: border-box;
}

.form__name {
    padding: 15px 20px;
    border: 1px solid #888888;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    resize: none;
    font-weight: 500;
    font-size: 16px;
}

.form__grade {
    padding: 15px 20px;
    border: 1px solid #888888;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
}

.input-mistake-grade {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.input-mistake-name {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.form__text {
    width: 100%;
    height: 222px;
    resize: none;
    box-sizing: border-box;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #888888;
}

.form__text::placeholder {
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
}

.reviews-form__submit1 {
    box-sizing: border-box;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    width: 177px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
}

.reviews-form__submit1:hover {
    background: #DA4A0C;
}

.input-mistake-name-color {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background: #DA4A0C;
    padding: 8px 20px;

}

.input-mistake-grade-color {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background: #DA4A0C;
    padding: 8px 20px;
}

.form__name-mistake {
    border: 2px solid #DA4A0C;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
}

.form__grade-mistake {
    border: 2px solid #DA4A0C;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
}
