@media screen and (max-width: 657px) {
    .product__body {
        display: flex;
        flex-direction: column;
    }

    .product__properties {
        display: flex;
        flex-direction: column;
    }

    .product__sidebar {
        flex: 1;
        order: -1;
    }

    .advertisement {
        display: none;
    }

    .product__review {
        margin-right: 0;
    }

    .container {
        padding: 0 10px;
    }

}

@media screen and (max-width: 435px) {

    .product {
        gap: 20px;
    }

    .line {
        font-size: 32px;
    }

    .logo {
        height: 30px;
        padding-bottom: 8px;
    }

    .icons {
        width: 80px;
    }

    .icon-button-1 {
        width: 30px;
        height: 30px;
    }

    .icon-button-2 {
        width: 30px;
        height: 30px;
    }

    .icon-button-1__badge-1 {
        position: absolute;
        right: -2px;
        top: 14px;
        padding: 0;
        width: 10px;
        height: 10px;
        font-size: 8px;
        line-height: 9px;
        text-align: center;
    }

    .icon-button-2__badge-2 {
        position: absolute;
        right: 50px;
        top: 14px;
        padding: 0;
        width: 10px;
        height: 10px;
        font-size: 8px;
        line-height: 9px;
        text-align: center;
    }

    .breadcrumbs__link {
        font-size: 14px;
    }

    .product__name {
        font-size: 24px;
    }

    .product__photos {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 10px;
    }

    .product__body {
        gap: 0;
    }

    .product__pictures {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 360px;
        gap: 10px;
        margin-bottom: 20px;

    }

    .product__color {
        margin-bottom: 0;
        height: 60px;
        width: 60px;
    }

    .product__image {
        height: 50px;
    }

    .product__subtitle {
        font-size: 14px;
    }

    .product__memory-buttons {
        margin-bottom: 0;
    }

    .product__characteristics {
        font-size: 14px;
        width: 339px;
    }

    .unfo {
        position: absolute;
        top: 14px;
        right: 267px;
    }

    .unfo-1 {
        position: relative;
        top: -5px;
        right: 1px;
    }

    .product__property {
        margin-bottom: 20px;
    }

    .product__description {
        width: 338px;
    }

    .reviews__feedback {
        font-size: 20px;
    }

    .review__photo {
        width: 60px;
        height: 60px;
    }

    .reviews__item {
        gap: 15px;
    }

    .review__details {
        width: 335px;
        position: relative;
        right: 75px;
    }

    .reviews__separator {
        width: 338px;
        margin-left: 0;
    }

    .form {
        padding: 0;
    }

    .form__content {
        width: 335px;
    }

    .footer {
        padding: 20px 0px;

    }

    .footer__container {
        display: block;
    }

    .footer__contact-info {
        margin-bottom: 20px;
    }

    .form__grade{
        padding: 15px 10px;
    }

}

.report_hidden {
    display: none;
}

.report {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #F36223;
    color: white;
    max-height: 30px;
    font-weight: 400;
    font-size: 17px;
    padding: 25px;
    line-height: 24px;
    border-radius: 8px;
    opacity: 0.9;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    animation: hide 5s linear infinite;

}

@keyframes hide {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
    0%{
        transform: rotate(0deg);
        box-shadow: 0 10px 20px #e65c00;
    }
    50%{
        transform: rotate(0deg);
        box-shadow: 0 10px 20px #c5a203;
    }
    100%{
        transform: rotate(0deg);
        box-shadow: 0 10px 20px #0456c8;
    }

}

.button_choose {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #888888;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.button_choose:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #888888;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    align-self: stretch;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.price__heart::after {
    display: inline-block;
    content: '';
    background-image: url("../images_from_figma/heart_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
}


.price__heart:hover::after {
    display: inline-block;
    content: '';
    background-image: url("../images_from_figma/heart_3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
}

.price__heart_focus:hover::after {
    display: inline-block;
    content: '';
    background-image: url("../images_from_figma/Heart_fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
}

.price__heart:active::after {
    display: inline-block;
    content: '';
    background-image: url("../images_from_figma/heart_2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
}

.price__heart_focus::after {
    display: inline-block;
    content: '';
    background-image: url("../images_from_figma/Heart_fill.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1px;
    width: 30px;
    height: 30px;
}
.icon-1_hidden {
    display: none;
}

.icon-2_hidden {
    display: none;
}

.cart-img-1 {
    width: 41px;
    height: 39px;
    position: relative;
    right: 5px;
    top: 15px;
}

.cart-img-2 {
    width: 43px;
    height: 34px;
    position: relative;
    right: 0px;
    top: 15px;
}

.icon-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 0px;
    top: 10px;
    z-index: 1;
}

.icon-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F36223;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background: #F36223;
    box-sizing: border-box;
    right: 45px;
    top: 10px;
    z-index: 1;
}