

.errorcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  height: 475px;
  width: 1400px;
  margin: auto;

}

.errortext {
  width: 453px;
  height: 57px;
  font-size: 200%;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  color: red;
}

.page-link {
  width: 228px;
  height: 19px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #008CF0;
}

@media (max-width: 1499px) {
  .errorcontent {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .errorcontent {
    width: 994px;
  }
}