.product__button {
    padding: 10px 20px;
    border: 2px solid transparent;
    outline: 1px solid #888888;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background-color: white;

}

@media (min-width: 360px) and (max-width: 1023px) {

    .product__button {
        margin-right: 10px;
    }
}

.selected {
    border: 2px solid transparent;
    outline: 2px solid #F36223;
}

.product__button:hover,
.product__button_selected:hover {
    background-color: #F2F2F2;
}

.product__button:active,
.product__button_selected:active {
    border: 2px solid transparent;
    outline: 2px solid #A93A09;
    border-radius: 4px;
    box-sizing: border-box;
}