/* Product */
.product__name {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__name {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}

.product__photos {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__photos {
        max-width: 335px;
        overflow: hidden;
    }
}

.product__photo {
    height: 387px;
    width: auto;
}

@media (min-width: 1025px) and (max-width: 1499px) {
    .product__photo {
        height: 272px;
        width: auto;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__photo {
        max-height: 250px;
    }
}