.review__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-bottom: 35px;
}

.reviews__item {
    display: flex;
    gap: 30px;
}

.review__author-photo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .review__author-photo {
        width: 100px;
        height: 100px;
    }
}

.review__comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.review__author-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.review__rating-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 150px;
    height: 30px;
}

.review__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 10px;
}

.review__details p {
    margin: 0;
}


.reviews__separator {
    width: 730px;
    border-bottom: 1px dashed #888888;
    margin-left: 170px;
    box-sizing: border-box;

}

@media (min-width: 1024px) and (max-width: 1499px) {
    .reviews__separator {
        width: 465px;
        margin-left: 130px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .reviews__item {
        gap: 15px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .review__author-photo {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .review__details {
        width: 335px;
        position: relative;
        right: 75px;
    }
}


@media (min-width: 360px) and (max-width: 1023px) {
    .reviews__separator {
        width: 330px;
        margin-left: 0;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .review__description {
        gap: 30px;
        margin-bottom: 30px;
    }
}