.product-container {
    width: 1400px;
    margin: auto;
    display: flex;
    gap: 100px;
}

@media (max-width: 1500px) {
    .product-container {
        width: 100%;
        gap: 7%;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }


    .main {
        width: 360px;
        margin: auto;
    }
}

.product-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product-information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
}

.reviews__info {
    margin-bottom: 30px;
    margin-top: 40px;
}

.reviews__box-wrapped {
    display: flex;
    gap: 10px;
}

.gray {
    margin-left: 10px;
    color: #888888;
}

@media (max-width: 1499px) {
    .product__comparison {
        display: none;
    }
}

.product__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 30px;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .reviews-container {
        width: 335px;
    }
}