.product-color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.product__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.product__subtitle-1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.product__pictures {
    display: flex;
    gap: 10px;
}

@media (min-width: 360px) and (max-width: 1023px) {
.product__pictures {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 360px;
}
.product__subtitle {
    margin-top: 20px;
}
}